ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  h1{
    text-align: center;
    text-decoration: dashed;
    color: linear-gradient(to bottom, rgb(255,65, 0), rgb(255, 165, 0));;
    font-family: Roboto Condensed;
    font-size: larger;
  }
  p{
    background-color: black;
    color: white;
  }
  a{
    color: white;
  }